@model BlogdoJuan.Models.Post

@{
    ViewBag.Title = "New";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Novo Post</h2>
@using (Html.BeginForm("Save", "Posts", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <div class="form-group">
        @Html.LabelFor(p => p.Title)
        @Html.TextBoxFor(p => p.Title, new { @class = "form-control" })
    </div>
    <div class="form-group">
        @Html.LabelFor(p => p.PostingBody)
        @Html.TextAreaFor(p => p.PostingBody, new { @class = "form-control" })
    </div>
    @Html.HiddenFor(p => p.Id)
    <div class="form-group">
        <input type="submit" value="Salvar" class="btn btn-primary" />
    </div>
}

@*@section scripts
{
    <script src="https://cloud.tinymce.com/stable/tinymce.min.js"></script>
    <script>tinymce.init({ selector: 'textarea' }); </script>

}*@

